@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #060208;
  overflow: hidden;
  z-index: 0;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 40;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #7312a1;
  top: 60%;
  left: 24%;
  animation-duration: 87s;
  animation-delay: -99s;
  transform-origin: 9vw -3vh;
  box-shadow: 2vmin 0 0.31532583702070804vmin currentColor;
}
.background span:nth-child(1) {
  color: #7312a1;
  top: 97%;
  left: 56%;
  animation-duration: 75s;
  animation-delay: -18s;
  transform-origin: 23vw 19vh;
  box-shadow: -2vmin 0 1.0235828051570053vmin currentColor;
}
.background span:nth-child(2) {
  color: #560061;
  top: 39%;
  left: 12%;
  animation-duration: 89s;
  animation-delay: -95s;
  transform-origin: -19vw -20vh;
  box-shadow: -2vmin 0 0.5588335098370341vmin currentColor;
}
.background span:nth-child(3) {
  color: #7312a1;
  top: 95%;
  left: 41%;
  animation-duration: 54s;
  animation-delay: -38s;
  transform-origin: -18vw 18vh;
  box-shadow: 2vmin 0 1.1599330987591971vmin currentColor;
}
.background span:nth-child(4) {
  color: #7312a1;
  top: 2%;
  left: 67%;
  animation-duration: 24s;
  animation-delay: -87s;
  transform-origin: 0vw 11vh;
  box-shadow: 2vmin 0 0.3596428431845654vmin currentColor;
}
.background span:nth-child(5) {
  color: #7312a1;
  top: 54%;
  left: 31%;
  animation-duration: 97s;
  animation-delay: -52s;
  transform-origin: 4vw -23vh;
  box-shadow: -2vmin 0 0.8387136518212147vmin currentColor;
}
.background span:nth-child(6) {
  color: #7312a1;
  top: 72%;
  left: 54%;
  animation-duration: 105s;
  animation-delay: -52s;
  transform-origin: -4vw -22vh;
  box-shadow: 2vmin 0 0.9344933977237314vmin currentColor;
}
.background span:nth-child(7) {
  color: #560061;
  top: 28%;
  left: 13%;
  animation-duration: 9s;
  animation-delay: -86s;
  transform-origin: -24vw 21vh;
  box-shadow: -2vmin 0 0.8963857023988225vmin currentColor;
}
.background span:nth-child(8) {
  color: #7312a1;
  top: 90%;
  left: 46%;
  animation-duration: 10s;
  animation-delay: -39s;
  transform-origin: 25vw 15vh;
  box-shadow: -2vmin 0 1.0236189309661037vmin currentColor;
}
.background span:nth-child(9) {
  color: #560061;
  top: 14%;
  left: 95%;
  animation-duration: 83s;
  animation-delay: -69s;
  transform-origin: -6vw 9vh;
  box-shadow: 2vmin 0 0.730724637807946vmin currentColor;
}
.background span:nth-child(10) {
  color: #47176d;
  top: 85%;
  left: 57%;
  animation-duration: 76s;
  animation-delay: -16s;
  transform-origin: -16vw -18vh;
  box-shadow: 2vmin 0 0.42039848526015744vmin currentColor;
}
.background span:nth-child(11) {
  color: #7312a1;
  top: 14%;
  left: 34%;
  animation-duration: 49s;
  animation-delay: -42s;
  transform-origin: -4vw 2vh;
  box-shadow: -2vmin 0 0.31853305676566046vmin currentColor;
}
.background span:nth-child(12) {
  color: #560061;
  top: 63%;
  left: 25%;
  animation-duration: 42s;
  animation-delay: -14s;
  transform-origin: -10vw -1vh;
  box-shadow: -2vmin 0 0.5728128437214537vmin currentColor;
}
.background span:nth-child(13) {
  color: #47176d;
  top: 26%;
  left: 74%;
  animation-duration: 30s;
  animation-delay: -62s;
  transform-origin: 22vw -23vh;
  box-shadow: 2vmin 0 0.3193150722990016vmin currentColor;
}
.background span:nth-child(14) {
  color: #7312a1;
  top: 61%;
  left: 34%;
  animation-duration: 17s;
  animation-delay: -26s;
  transform-origin: 7vw 13vh;
  box-shadow: -2vmin 0 0.6097387656339206vmin currentColor;
}
.background span:nth-child(15) {
  color: #47176d;
  top: 18%;
  left: 64%;
  animation-duration: 22s;
  animation-delay: -35s;
  transform-origin: -12vw -8vh;
  box-shadow: 2vmin 0 1.0184508375141872vmin currentColor;
}
.background span:nth-child(16) {
  color: #560061;
  top: 87%;
  left: 82%;
  animation-duration: 50s;
  animation-delay: -61s;
  transform-origin: 11vw 3vh;
  box-shadow: -2vmin 0 1.221575948581056vmin currentColor;
}
.background span:nth-child(17) {
  color: #7312a1;
  top: 18%;
  left: 18%;
  animation-duration: 79s;
  animation-delay: -32s;
  transform-origin: 3vw -14vh;
  box-shadow: 2vmin 0 0.6494495686632148vmin currentColor;
}
.background span:nth-child(18) {
  color: #7312a1;
  top: 26%;
  left: 51%;
  animation-duration: 88s;
  animation-delay: -1s;
  transform-origin: 15vw 15vh;
  box-shadow: 2vmin 0 0.9112494778484648vmin currentColor;
}
.background span:nth-child(19) {
  color: #47176d;
  top: 8%;
  left: 41%;
  animation-duration: 16s;
  animation-delay: -61s;
  transform-origin: -6vw -15vh;
  box-shadow: -2vmin 0 0.2637632411788996vmin currentColor;
}
.background span:nth-child(20) {
  color: #47176d;
  top: 9%;
  left: 24%;
  animation-duration: 83s;
  animation-delay: -37s;
  transform-origin: -5vw 0vh;
  box-shadow: 2vmin 0 1.0731199728899172vmin currentColor;
}
.background span:nth-child(21) {
  color: #7312a1;
  top: 19%;
  left: 32%;
  animation-duration: 52s;
  animation-delay: -5s;
  transform-origin: 13vw -5vh;
  box-shadow: -2vmin 0 0.4550917045770527vmin currentColor;
}
.background span:nth-child(22) {
  color: #7312a1;
  top: 32%;
  left: 25%;
  animation-duration: 27s;
  animation-delay: -90s;
  transform-origin: 1vw 0vh;
  box-shadow: 2vmin 0 0.9758798202213425vmin currentColor;
}
.background span:nth-child(23) {
  color: #7312a1;
  top: 82%;
  left: 95%;
  animation-duration: 10s;
  animation-delay: -47s;
  transform-origin: -22vw 9vh;
  box-shadow: 2vmin 0 0.42915744198281003vmin currentColor;
}
.background span:nth-child(24) {
  color: #7312a1;
  top: 96%;
  left: 98%;
  animation-duration: 69s;
  animation-delay: -14s;
  transform-origin: 17vw 18vh;
  box-shadow: 2vmin 0 0.8420071149232581vmin currentColor;
}
.background span:nth-child(25) {
  color: #560061;
  top: 19%;
  left: 33%;
  animation-duration: 30s;
  animation-delay: -25s;
  transform-origin: 10vw 12vh;
  box-shadow: 2vmin 0 0.532856855507449vmin currentColor;
}
.background span:nth-child(26) {
  color: #560061;
  top: 45%;
  left: 8%;
  animation-duration: 31s;
  animation-delay: -66s;
  transform-origin: 3vw 20vh;
  box-shadow: -2vmin 0 0.8141109910631084vmin currentColor;
}
.background span:nth-child(27) {
  color: #560061;
  top: 35%;
  left: 69%;
  animation-duration: 28s;
  animation-delay: -93s;
  transform-origin: 16vw 8vh;
  box-shadow: 2vmin 0 0.43231001782059664vmin currentColor;
}
.background span:nth-child(28) {
  color: #47176d;
  top: 85%;
  left: 75%;
  animation-duration: 46s;
  animation-delay: -44s;
  transform-origin: -22vw 8vh;
  box-shadow: -2vmin 0 0.8834586201759501vmin currentColor;
}
.background span:nth-child(29) {
  color: #7312a1;
  top: 71%;
  left: 69%;
  animation-duration: 40s;
  animation-delay: -19s;
  transform-origin: 20vw 10vh;
  box-shadow: 2vmin 0 0.8340269158802539vmin currentColor;
}
.background span:nth-child(30) {
  color: #560061;
  top: 54%;
  left: 65%;
  animation-duration: 60s;
  animation-delay: -4s;
  transform-origin: 10vw -23vh;
  box-shadow: -2vmin 0 0.49750596811695413vmin currentColor;
}
.background span:nth-child(31) {
  color: #47176d;
  top: 1%;
  left: 30%;
  animation-duration: 63s;
  animation-delay: -62s;
  transform-origin: 22vw -17vh;
  box-shadow: 2vmin 0 0.7073543952279245vmin currentColor;
}
.background span:nth-child(32) {
  color: #47176d;
  top: 95%;
  left: 18%;
  animation-duration: 51s;
  animation-delay: -53s;
  transform-origin: 5vw -1vh;
  box-shadow: 2vmin 0 0.7771977090832368vmin currentColor;
}
.background span:nth-child(33) {
  color: #47176d;
  top: 47%;
  left: 60%;
  animation-duration: 59s;
  animation-delay: -9s;
  transform-origin: -2vw 25vh;
  box-shadow: 2vmin 0 0.3099581634473034vmin currentColor;
}
.background span:nth-child(34) {
  color: #560061;
  top: 23%;
  left: 19%;
  animation-duration: 52s;
  animation-delay: -52s;
  transform-origin: -1vw -18vh;
  box-shadow: 2vmin 0 0.44545810443323497vmin currentColor;
}
.background span:nth-child(35) {
  color: #47176d;
  top: 25%;
  left: 66%;
  animation-duration: 8s;
  animation-delay: -7s;
  transform-origin: 19vw -6vh;
  box-shadow: -2vmin 0 1.1519345455014975vmin currentColor;
}
.background span:nth-child(36) {
  color: #47176d;
  top: 48%;
  left: 87%;
  animation-duration: 21s;
  animation-delay: -42s;
  transform-origin: -9vw -13vh;
  box-shadow: -2vmin 0 0.49051693511851313vmin currentColor;
}
.background span:nth-child(37) {
  color: #560061;
  top: 29%;
  left: 17%;
  animation-duration: 54s;
  animation-delay: -99s;
  transform-origin: 5vw -12vh;
  box-shadow: 2vmin 0 0.8504190748526999vmin currentColor;
}
.background span:nth-child(38) {
  color: #7312a1;
  top: 18%;
  left: 52%;
  animation-duration: 49s;
  animation-delay: -77s;
  transform-origin: -23vw -13vh;
  box-shadow: 2vmin 0 0.2631705067002239vmin currentColor;
}
.background span:nth-child(39) {
  color: #560061;
  top: 56%;
  left: 17%;
  animation-duration: 71s;
  animation-delay: -83s;
  transform-origin: -16vw -18vh;
  box-shadow: 2vmin 0 0.956024470794085vmin currentColor;
}
.background span:nth-child(40) {
  color: #7312a1;
  top: 63%;
  left: 24%;
  animation-duration: 10s;
  animation-delay: -26s;
  transform-origin: 10vw -18vh;
  box-shadow: 2vmin 0 0.8752510784426399vmin currentColor;
}
.background span:nth-child(41) {
  color: #7312a1;
  top: 30%;
  left: 6%;
  animation-duration: 66s;
  animation-delay: -42s;
  transform-origin: 5vw -15vh;
  box-shadow: -2vmin 0 0.637428136818308vmin currentColor;
}
.background span:nth-child(42) {
  color: #7312a1;
  top: 50%;
  left: 59%;
  animation-duration: 27s;
  animation-delay: -52s;
  transform-origin: 8vw -14vh;
  box-shadow: 2vmin 0 1.1979965478101198vmin currentColor;
}
.background span:nth-child(43) {
  color: #47176d;
  top: 4%;
  left: 60%;
  animation-duration: 32s;
  animation-delay: -46s;
  transform-origin: 17vw 19vh;
  box-shadow: 2vmin 0 0.5136718083546893vmin currentColor;
}
.background span:nth-child(44) {
  color: #47176d;
  top: 65%;
  left: 3%;
  animation-duration: 76s;
  animation-delay: -24s;
  transform-origin: -11vw -16vh;
  box-shadow: 2vmin 0 0.3243051160267538vmin currentColor;
}
.background span:nth-child(45) {
  color: #7312a1;
  top: 77%;
  left: 95%;
  animation-duration: 73s;
  animation-delay: -20s;
  transform-origin: 11vw 15vh;
  box-shadow: -2vmin 0 0.5394381524472475vmin currentColor;
}
.background span:nth-child(46) {
  color: #7312a1;
  top: 29%;
  left: 71%;
  animation-duration: 18s;
  animation-delay: -83s;
  transform-origin: -2vw -23vh;
  box-shadow: -2vmin 0 0.7485897604635678vmin currentColor;
}
.background span:nth-child(47) {
  color: #47176d;
  top: 42%;
  left: 64%;
  animation-duration: 105s;
  animation-delay: -6s;
  transform-origin: 4vw -23vh;
  box-shadow: -2vmin 0 0.780725135393658vmin currentColor;
}
.background span:nth-child(48) {
  color: #7312a1;
  top: 51%;
  left: 68%;
  animation-duration: 80s;
  animation-delay: -35s;
  transform-origin: -11vw -10vh;
  box-shadow: 2vmin 0 0.41793681681237693vmin currentColor;
}
.background span:nth-child(49) {
  color: #47176d;
  top: 37%;
  left: 45%;
  animation-duration: 32s;
  animation-delay: -32s;
  transform-origin: 7vw 16vh;
  box-shadow: -2vmin 0 1.2100833095015209vmin currentColor;
}