---
import "../styles/global.css";
// Component Imports
import Layout from "@/layouts/Layout.astro";
import { getCurrentGrid } from "@/lib/supabase";
import Panel from "@/components/react/Panel";

const { userId } = Astro.locals.auth()

if (!userId) {
  return Astro.redirect("/");
}

const { data, error } = await getCurrentGrid();
---

<Layout>
  <div
    class="relative flex min-h-screen flex-col items-center justify-between bg-black text-gray-300 font-mono overflow-hidden"
  >
    <Panel initialGrid={data} client:load />
  </div>
</Layout>
