---
import "../styles/global.css";
// Component Imports
import Layout from "@/layouts/Layout.astro";
import { getCurrentGrid, getLeaderboard } from "@/lib/supabase";
import Panel from "@/components/react/Panel";
import Header from "@/components/Header.astro";

const { userId } = Astro.locals.auth();

if (!userId) {
  return Astro.redirect("/");
}

const { data, error } = await getCurrentGrid();

const { data: initialLeaderboard } = await getLeaderboard();
---

<Layout>
  <div class="min-h-screen bg-black text-purple-500 font-mono flex flex-col">
    <Header />

    <Panel 
      initialLeaderboard={initialLeaderboard ?? []}
      initialGrid={data}
      client:load 
    />
  </div>
</Layout>
