---
import "../styles/global.css";
import Layout from "@/layouts/Layout.astro";
import Panel from "@/components/react/Panel";
import { Toaster } from "@/components/ui/sonner"

const user = await Astro.locals.currentUser();

if (!user || !user?.username) {
  return Astro.redirect("/");
}
---

<Layout>
  <div class="bg-black text-purple-500 font-mono">
    <Toaster client:load />
    <Panel client:load />
  </div>
</Layout>
