---
import "../styles/global.css";
// Component Imports
import Layout from "@/layouts/Layout.astro";
import Panel from "@/components/react/Panel";

const user = await Astro.locals.currentUser();

if (!user || !user?.username) {
  return Astro.redirect("/");
}
---

<Layout>
  <div class="bg-black text-purple-500 font-mono">
    <Panel client:load />
  </div>
</Layout>
