---
import OnlineUsers from "@/components/react/OnlineUsers";

const today = new Date();
---

<footer
  class="w-full py-2 px-6 border-t border-gray-800 bg-black/80 text-xs text-gray-600 z-10"
>
  <div class="flex justify-between">
    <span>© {today.getFullYear()} SOUL PIXEL</span>
    <span class="text-red-500 animate-pulse">
      <OnlineUsers client:load/>
    </span>
  </div>
</footer>
